body {
  background-image: url("../media/y2k_background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: Georgia, serif;
}

a {
  color: darkmagenta;
}

a:hover {
  --color: white;
  color: #615b5b !important;
}

a:visited {
  color: firebrick;
}

/*.fa-solid fa-house-chimney {
  --color: #615b5b;
  color: white;
}

.fa-solid fa-file-lines {
  --color: #615b5b;
  color: white;
}

.fa-solid fa-pepper-hot {
 --color: #615b5b;
 color: white;
}*/

.gradient-box {
  /*background: linear-gradient(104deg,rgba(242, 157, 174, 1) 13%, rgba(248, 191, 197, 1) 30%, rgba(252, 212, 212, 1) 85%);
  background: radial-gradient(circle,rgba(250, 215, 232, 1) 30%, rgba(235, 178, 207, 1) 86%);
  background: radial-gradient(circle,rgba(252, 212, 212, 1) 30%, rgba(242, 157, 174, 1) 86%)*/
  background: radial-gradient(circle,rgba(250, 215, 232, 1) 30%, rgba(235, 178, 179, 1) 86%);
}

.flowers {
  background-image: url("../media/flowers.jpg");
  background-position: center;
  background-size: cover;
}

.lcentered {
  text-align: left;
  padding-bottom: 10px;
}

.mcentered {
  text-align: center;
  margin-top: 5px;
}

.rcentered {
  text-align: right;
  margin-bottom: 0px;
}

.clearme {
  clear: both;
}

.fixed {
  width: 1228px !important;
}

.caption {
  font-size: 16px;
  text-align: center;
  margin-top: 5px;
}

.noverflow {
  overflow: none !important;
}

h1 {
  margin-top: 12px;
  margin-bottom: 0px;
  text-align: center;
  padding-top: 10px;
  font-size: 40px;
}


h2 {
  font-size: 30px
}


h3 {
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Gorditas", Georgia, sans-serif !important;
  font-weight: 100;
  font-style: normal;
  margin-bottom: 0px;
}

p, li {
  font-size: 18px;
  line-height: 1.5;
}

#kuromis {
  margin-top: 20px;
}

#kuromi2 {
  float: right;
}

#main-nav {
  float: left;
  width: 100%;
  background-color: #ebb2cf;
}

#main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  left:50%;
}

#main-nav ul li {
  float: left;
  position: relative;
  right: 50%
}

#main-nav ul li a {
  font-family: Georgia, serif;
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

#main-nav ul li a:hover {
  text-shadow: 0px 0px 0px #000;
  background-color: #b38282;
}

.main-content {
  background-color: oldlace;
  margin-bottom: 0px;
  padding: 0px 20px;
  overflow: auto;
}

.school-yap {
  margin: 30px auto;
  margin-bottom: 0px;
  min-height: 294px;
  max-width: 88%;
  padding: 35px 20px 20px 30px;
  border: 3px solid #e48aa0;
  border-radius: 12px;
  overflow: hidden;
}

.school-yap p {
  display: inline;
  padding-right: 30px;
}

.school-yap img {
  float: right;
  max-width: 30%;
  height: auto;
  border-radius: 12px;
}

.colombia-deets {
  border: 3px solid #e48aa0;
  border-radius: 12px;
  padding: 12px 20px 12px 30px;
  max-width: 88%;
  margin: 10px auto;
  margin-top: 7px;
}

.colombia-deets summary {
  font-family: Georgia, serif;
  cursor: default;
  font-size: 18px;
  font-weight: 700;
}

.colombia-deets[open] .fun-fact {
  min-height: 455px;
  margin-top: -5px;
}

.fun-fact {
  /*max-height: 0;*/
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.fun-fact img {
  clear: both;
  display: block;
  margin: 0px auto;
  max-width: 100%;
  border-radius: 12px;
}

#interests h2 {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

.interest-yap {
  margin: 30px auto;
  margin-bottom: 20px;
  /*min-height: 294px;*/
  max-width: 80%;
  padding: 5px 12px 0px 24px;
  border: 3px solid #e48aa0;
  border-radius: 12px;
  overflow: hidden;
}

#fav-shows, #fav-bands {
  overflow: hidden;
  margin-bottom: 5px;
  margin-top: 20px;
}

#fav-shows iframe {
  max-width: 560px;
  aspect-ratio: 16 / 9;
}

#fav-bands video {
  max-height: 480px;
  max-width: 270px;
}

.video {
  float: left;
  /*max-width: 100%;*/
  width: 55%;
}

.video iframe, .video video {
  border-radius: 12px;
  width: 100%;
  height: auto;
  display: block; 
  margin: 0px auto;
}

.video p {
  text-align: center;
  margin-top: 5px;
}

.content {
  float: right;
  /*max-width: 100%;*/
  width: 40%;
  margin-left: 5%;
}

.content ol {
  padding-bottom: 26px;
}

.dotted {
  margin-top: 10px;
  /*max-width: 200px;*/
  max-width: 40%;
  padding: 0px 30px 0px 12px;
  border: 3px dotted #e48aa0;
  border-radius: 12px;
}

.dotted h4 {
  font-weight: 500;
  margin: 18px 0px;
}

.dotted ul {
  padding-left: 25px;
}

.dotted ul li {
  font-size: 16px;
}

#information {
  float: left;
  width: 320px;
  margin: 0px 20px 0px -20px;
  padding: 10px 20px 550px 25px;
  background-color: #f2c4ca;
}

#information h2 {
  font-size: 20px;
}

#information p, #information ul li {
  font-size: 16px;
  list-style-type: square;
}

#information ol li {
  font-size: 16px;
  list-style-type: lower-roman;
}

#info {
  margin-top: 50px;
}

.gaps {
  margin-bottom: 80px;
}

#bulk {
  float: left;
  width: 800px;
	margin-top: 40px;
  padding: 0px 0px 0px 12px;
  background-color: oldlace;
}

#bulk li {
  list-style-type: square;
}

.gaps2 {
  margin-top: 55px;
}

.between-ratings h2 {
  margin-top: 1.5em;
}

.chilis-image {
  margin-top: 2em;
  text-align: center;
}

.chilis-front {
  /*width: 900px;
  height: 506px;*/
  width: 90%;
  height: auto;
}

.dessert {
  /*width: 560px;
  height: 560px;*/
  min-width: 65%;
  height: auto;
}

#chilis-main {
	box-sizing: border-box;
  float: left;
	width: 60%;
  margin: 0 2%;
}

#alternatives {
	box-sizing: border-box;
  background-color: #fad4d9;
  float: left;
	max-width: 25%;
  margin: 0 2% 0 5%;
  border: 2px solid #eaa1a8;
  border-top: 0px;
  
}

.boo-chilis audio {
  width: 90%;
  margin-bottom: 1.5em;
}

#aside-content h2 {
  margin-top: 0.6em;
}

#aside-content img {
  padding: 0;
	margin: 0.7em 0 0 0;
  overflow: auto;
}

#aside-content ol li {
  list-style-type: lower-roman;
}

#page-wrapper {
  width: 80%;
  margin: 0 auto;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 1);
}

#footer {
  background-color: #ebb2cf;
  height: 65px;
  clear: both;
  text-align: center;
  padding-top: 10px;
}

#footer p {
  color: white;
  margin: 0;
  margin-bottom: 5px;
  line-height: 1.5;
  font-weight: bold;
  font-size: 14px;}

#footer p a {
  font-weight: normal;
}

.shadow {
  text-shadow: 1px 1px 5px #000000;
}

strong {
  font-weight: 700;
  font-size: 1em;
  font-style: normal;
}

/*.gorditas-regular { <!--Ask about this-->
  font-family: "Gorditas", serif;
  font-weight: 400;
  font-style: normal;
}

.gorditas-bold {
  font-family: "Gorditas", serif;
  font-weight: 700;
  font-style: normal;
}*/