body {
  --background-color: oldlace;
  background-image: url("../media/y2k_background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

a {
  color: darkmagenta;
}

a:hover {
  color: white !important;
}

a:visited {
  color: firebrick;
}

.fa-solid fa-house-chimney {
  color: #615b5b;
}

.fa-solid fa-file-lines {
  color: #615b5b;
}

.fa-solid fa-pepper-hot {
 color: #615b5b; 
}

h1 {
  margin-top: 12px;
  text-align: center;
  padding-top: 10px;
}

#main-nav {
  float: left;
  width: 100%;
  background-color: rosybrown;
  margin-bottom: 16px;
}

#main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  left:50%;
}

#main-nav ul li {
  float: left;
  position: relative;
  right: 50%
}

#main-nav ul li a {
  padding: 10px 12px;
  display: block;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #615b5b;
}

#main-nav ul li a:hover {
  background-color: #b38282;
}

#main-content {
  background-color: oldlace;
  padding-bottom: 16px;
  margin-bottom: -16px;
}

#page-wrapper {
  width: 80%;
  margin: 0 auto;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 1);
  -- border-radius: 12px 12px 0px 0px;
}

#footer {
  background-color: rosybrown;
  height: 65px;
  clear: both;
  text-align: center;
  padding-top: 10px;
}

#footer p {
  color: #333;
  margin: 0;
  line-height: 1.5;
  font-weight: bold;
}

#footer p a {
  font-weight: normal;
}