/*.overflow {
  overflow: auto;
}*/

body {
  background-image: url("../media/y2k_background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

a {
  color: darkmagenta;
}

a:hover {
  --color: white;
  color: #615b5b !important;
}

a:visited {
  color: firebrick;
}

/*.fa-solid fa-house-chimney {
  --color: #615b5b;
  color: white;
}

.fa-solid fa-file-lines {
  --color: #615b5b;
  color: white;
}

.fa-solid fa-pepper-hot {
 --color: #615b5b;
 color: white;
}*/

.gradient-box {
  /*background: linear-gradient(104deg,rgba(242, 157, 174, 1) 13%, rgba(248, 191, 197, 1) 30%, rgba(252, 212, 212, 1) 85%);
  background: radial-gradient(circle,rgba(250, 215, 232, 1) 30%, rgba(235, 178, 207, 1) 86%);
  background: radial-gradient(circle,rgba(252, 212, 212, 1) 30%, rgba(242, 157, 174, 1) 86%)*/
  background: radial-gradient(circle,rgba(250, 215, 232, 1) 30%, rgba(235, 178, 179, 1) 86%);
}

/*.centered {
  text-align: center !important;
}*/

h1 {
  margin-top: 12px;
  margin-bottom: 0px;
  text-align: center;
  padding-top: 10px;
  font-size: 40px;
}


h2 {
  font-size: 30px
}


h3 {
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Gorditas", Georgia, sans-serif;
  font-weight: 100;
  font-style: normal;
}

p {
  font-family: Georgia, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

#kuromi2 {
  float: right;
  padding-right: 10px;
}

#school-yap {
  margin: 30px auto;
  margin-bottom: 20px;
  min-height: 294px;
  max-width: 95%;
  padding: 35px 12px 20px 18px;
  border: 3px solid #e48aa0;
  border-radius: 12px;
  overflow: hidden;
}

.home-img {
  float: right;
  position: relative;
  max-width: 30%;
  height: auto;
  border-radius: 12px;
}

#colombia-deets {
  border: 3px solid #e48aa0;
  border-radius: 12px;
  padding: 12px 12px 12px 18px;
  max-width: 95%;
  margin: 20px auto;
}

#colombia-deets summary {
  font-family: Georgia, sans-serif;
  cursor: default;
  font-size: 1.2em;
}

#fun-fact {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

#fun-fact img {
  clear: both;
  display: block;
  margin: 0px auto;
  max-width: 100%;
  border-radius: 12px;
}

#colombia-deets[open] #fun-fact {
  min-height: 455px;
  margin-top: -5px;
}

#main-nav {
  float: left;
  width: 100%;
  background-color: #ebb2cf;
  margin-bottom: 16px;
}

#main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  left:50%;
}

#main-nav ul li {
  float: left;
  position: relative;
  right: 50%
}

#main-nav ul li a {
  font-family: sans-serif;
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

#main-nav ul li a:hover {
  text-shadow: 0px 0px 0px #000;
  background-color: #b38282;
}

#main-content {
  background-color: oldlace;
  /*padding-bottom: 30px;*/
  margin-bottom: -18px;
  padding: 0px 10px 20px 10px;
}

#chilis-front {
  margin-top: 20px;
}
  /*padding-top: 10px;*/

#page-wrapper {
  width: 80%;
  margin: 0 auto;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 1);
}

#footer {
  background-color: #ebb2cf;
  height: 65px;
  clear: both;
  text-align: center;
  padding-top: 10px;
}

#footer p {
  color: white;
  margin: 0;
  line-height: 1.5;
  font-weight: bold;
  font-size: 14px;}
/*text-shadow: 2px 1px 2px #000000;*/

#footer #website-by {
  text-shadow: 1px 1px 5px #000000;
}

#footer p a {
  font-weight: normal;
}

strong {
  font-weight: 700;
  font-size: 1em;
}

/*.gorditas-regular {
  font-family: "Gorditas", serif;
  font-weight: 400;
  font-style: normal;
}

.gorditas-bold {
  font-family: "Gorditas", serif;
  font-weight: 700;
  font-style: normal;
}*/